{% extends "master-staff.html" %}

{% block title %}Add Staff{% endblock %}


{% block content %}
<form action="" method="post" class="col-4 mx-auto border border-tertiary p-4 mt-4 rounded shadow-lg">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_name" class="form-label">Name:</label>
        <input type="text" class="form-control form-control-lg" id="id_name" aria-describedby="emailHelp" name="name" maxlength="200" required>
    </div>
    <div class="mb-3">
        <label for="id_age" class="form-label">Age:</label>
        <input type="number" class="form-control form-control-lg" id="id_age" aria-describedby="emailHelp" name="age" required>
    </div>
    <div class="mb-3">
        <label for="id_email" class="form-label">Email:</label>
        <input type="email" class="form-control form-control-lg" id="id_email" aria-describedby="emailHelp" name="email" required maxlength="50">
    </div>
    <div class="mb-3">
        <label for="id_role" class="form-label">Role:</label>
        <input type="text" class="form-control form-control-lg" id="id_role" aria-describedby="emailHelp" name="role" required maxlength="100">
    </div>
    <!-- {{ form.as_p }} -->
    <div class="d-grid my-4">
        <button class="btn btn-primary btn-lg" id="add-plahyer" type="submit">Save</button>
    </div>
</form>
{% endblock %}